.epub-author {
    color: #555;
}

.epub-link {
    margin-bottom: 30px;
}

.epub-link a {
    color: #666;
    font-size: 90%;
}

.toc-author {
    font-size: 90%;
    color: #555;
}

.toc-link {
    color: #999;
    font-size: 85%;
    display: block;
}

hr {
    border: 0;
    border-bottom: 1px solid #dedede;
    margin: 60px 10%;
}